.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

li {
    text-align: -webkit-match-parent;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;

}

li a,
.dropbtn {
    display: inline-block;
    color: rgb(248, 248, 248);
    text-align: center;
    padding: 0px 24px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
}

li {
    float: left;
}

li.dropdown {
    display: inline-block;
    font-size: 20px;
    padding: 15px 0px;
}
ul {
    list-style-type: disc;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #424e61;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.cabecalho-lista{
align-items: center;
}

.escola-imagem {
    width: 25%;
}

.escola {
    background-image: linear-gradient(#424E61,#4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 25px 0;
}

.estudante-todos{
    display: grid;
    align: center;
    grid-template-columns: 25% 25% 25% 25%;
}

.estudante-imagem-julia{
    width: 110px;
}

.estudante-imagem-anny{
    width: 100px;
}

.estudante-imagem-anne{
    width: 110px;
}

.estudante-imagem-anna{
    width: 110px;
}

.rodape {
    background-color:rgb(219, 219, 219);
    text-align: center;
    background-image: linear-gradient(#4EBFE9, #424E61);
}

.rodape-imagem{
    height: 45px;
    background-image: linear-gradient(#424E61,#4EBFE9);
    color: white;
}

box-title .title {
  position: relative;
  text-align: center;
  color:#222; 
  font-size:35px; 
  font-weight:bold;
  text-transform: uppercase;
  letter-spacing:15px; 
  color:#ffa4b5;
}
.box-title .title .subtitle {
  line-height:2em; 
  padding-bottom:15px;
  text-transform: none;
  font-size:18px;
  font-weight: normal;
  font-family: 'open_sanslight';
  color:#f4f4f4; 
  letter-spacing:10px; 
  letter-spacing:none;
}
.box-title .title:after, .box-title .title:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45px;
  height: 4px;
  content: "";
  right: 45px; 
  margin:auto;
  background-color: #ffffff;
}
.box-title .title:before { 
  background-color:#d78b8b;
  left:45px; width:90px;
}
.box-formulario {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #232323;
    padding:60px 0;
}
.formulario {
    width: 700px;
    background: #232323;
    padding: 60px 5%;
    text-align: center;
}
.formulario span {
  position: relative;
  display: flex;
  margin: 45px 10px;
}
/*input Animado*/
.input-card {
  display: inline-block;
  width: 100%;
  padding: 10px 0 13px 55px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #242424;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;
}
.input-card::-webkit-input-placeholder {
  color: #242424;
  font-weight: 300;
}
.input-card + label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #ffa4b5;
  color: #ffffff;
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: right center;
  transform: perspective(300px) scaleX(1) rotateY(0deg);
}
.input-card:focus,
.input-card:active {
  
  color: #ffa4b5;
  padding: 10px 0 13px 10px;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-card:focus::-webkit-input-placeholder,
.input-card:active::-webkit-input-placeholder {
  color: #aaa;
}
.input-card:focus + label,
.input-card:active + label {
  transform: perspective(600px) translateX(-100%) rotateY(75deg);
}
/*TextArea*/
.textarea-card {
  display: inline-block;
  width: 100%;
  height: 87px;
  padding: 10px 0 13px 55px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #242424;
  background: #ffffff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease-in-out;
}
.textarea-card::-webkit-input-placeholder {
  color: #242424;
  font-weight: 300;
}
.textarea-card + label {
  
  height: 87px;
  line-height: 66px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #ffa4b5;
  color: #ffffff;
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: right center;
  transform: perspective(300px) scaleX(1) rotateY(0deg);
}
.textarea-card:focus,
.textarea-card:active {
  
  color: #ffa4b5;
  padding: 10px 0 13px 10px;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.textarea-card:focus::-webkit-input-placeholder,
.textarea-card:active::-webkit-input-placeholder {
  color: #aaa;
}
.textarea-card:focus + label,
.textarea-card:active + label {
  transform: perspective(600px) translateX(-100%) rotateY(75deg);
}
/*Botão*/
.btn-submit {
  color: #fff;
  background: #ffa4b5;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: 0.5s;
  width: 100%;
  padding: 0.5em 1em;
  font-size: 1.3em;
  font-weight: bold;
  float: left;
}
.btn-submit:hover {
 
  background-color:#cd4962;
}
